* {
    margin: 0;
    padding: 0;
}
:root {
    --headerBgColor: white;
    --headerTxtColor: black;
    --bgColor: rgb(141,1,0);
    --txtColor: white;
    --footerBgColor: white;
    --footerTxtColor: black;
    --visitedLinkColor: rgb(141,1,0);
    --linkColor: rgb(42, 222, 192);/*rgb(229, 229, 229);*/
    --font-body-family: "Verdana", sans-serif;
    --borderRadius: 0.5em;
}
html {
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    background-color: var(--bgColor);
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#pageHeader {
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a:link {
    color: var(--linkColor);
}
nav a:visited {
    color: var(--visitedLinkColor);
}
#menu ul {
    max-width: 1024px;
    list-style-type: none;
    margin: auto;
    padding: 1em;
}
#menu ul li {
    font-size: large;
    display: inline;
    margin: 0 0.8em;
    width: 20%;
}
#menu ul li a:link {
    color: rgb(141,1,0);;
}
header #title {
    background-image: url('Resources/logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -999em;
    margin: 0.3em 0;
    margin-right: 1.5em;
    width: 8em;
    height: 4em;
}
main {
    color: var(--txtColor);
    padding: 3em;
    margin: auto;
    width: 60%;
    height: fit-content;
}
footer {
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}
.stepSection {
    width: 100%;
    border: 2px solid white;
    margin-bottom: 1.5em;
}
.stepSection .stepHeader, #tools header {       
    padding: 0.4em 0;
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    text-align: center;
}
.stepSection .stepHeader h2, #tools header h2 {
    font-weight: 600;
    font-size: 1.4em;
}
.sectionContent {
    padding: 1em;
}
.category {
    font-size: 1.2em;
}
.subcategory {
    font-size: 1em;
}
.docList {
    padding-left: 2em;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--linkColor);
}
a:hover {
    text-decoration: underline;
}
ul {
    padding-left: 2em;
}
.repolink {
    background-color: white;
    border-radius: var(--borderRadius);
    list-style-type: none;
    padding: 2em;
}
.repolink a {
    color: black;
}
#repolinks {
    justify-content: center;
    gap: 1.5em;
    display: grid;
    grid-template-columns: repeat(2, minmax(15em, 15em));
    padding: 0;
}
#aboutSection, #tools {
    width: 100%;
    border: 2px solid white;
    margin-bottom: 1.5em;
}
#aboutSection > * {
    padding: 1em;
}
.centerize {
    margin: auto;
    text-align: center;
}
.cover-container {
    position: relative;
}
#cover {
    width: 500px;
    height: 500px;
    display:block;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@keyframes rotateNames {
    0%, 100% {
        display: none;
    }
    20% {
        display: block;
    }
}
.cover-container {
    position: relative;
}
#cover {
    width: 35vw;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#participant-names {
    position: absolute;
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.participant {
    position: absolute;
    display: none;
    font-family: "Bebas Neue", sans-serif; /* Use Bebas Neue as the font family */
    font-size: 25px; /* Adjust the font size as needed */
    -webkit-text-fill-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    animation: fadeInOut 4.5s ease-in-out; /* Update the animation duration */
}
.participant.active {
    display: block;
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateY(10px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
    95%, 100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
.sectionContent section:not(:last-of-type) {
    padding-bottom: 1.2em;
}
#tools {
    margin: auto;
    text-align: center;
    width: 100%;
}
#tools p {
    padding: 1em;
}
#toolList {
    padding: 1.2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}
#toolList .toolData {
    list-style-type: none;
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 1.8em;
}
#telegram {
    background-image: url(Resources/telegram_logo.png);    
}
#discord {
    background-image: url(Resources/discord_logo.png);    
}
#latex {
    background-image: url(Resources/latex_logo.png);    
}
#github {
    background-image: url(Resources/github_logo.png);    
}
#jira {
    background-image: url(Resources/jira_logo.png);    
}
#componenti {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#componenti li {
    list-style-type: none;
}
.alert {
    margin: auto;
    text-align: center;
    background-color: white;
    color: black;
    border: 0.2em solid white;
    border-radius: var(--borderRadius);
    max-width: fit-content;
}
.alert i {
    vertical-align: middle;
}
.sectionContent p, .sectionContent ul {
    margin-bottom: 1em;
}

@media screen and (max-width: 850px) {
    #menu ul li {
        display: block;
        margin: 1em 0;
    }
    main {
        width: 90%;
        padding: 3em 0;
    }
    #toolList {
        flex-direction: column;        
    }
    header #title {
        background-image: url('Resources/logo_small.jpg');
        width: 2em;
    }
    #cover {
        width: 85vw;
    }
}